@charset "utf-8";
/* Estilo para Impressoras*/

*{
    padding: 0px;
    margin: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    contain: 'Essa folha foi impressa pelo site do cursoemvideo.com';
}
article{
    width: 100%;
}